*{
   margin: 0;
   padding: 0;
}

#tabela{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    display: inline-block;
    flex-wrap: wrap;

}

#linhas{
    background-color: rgb(251, 254, 255);
    font-weight: bold;
    font-style: italic;
    font-size:  20px;
    text-align: center;
}



.botoes{
    display: flex;
}

#botaoeditar{
    margin: 5px;
    color: white;
    padding: 5px;
    float:left;
}

#botaodeletar{
    margin: 5px;
    color: white;
    padding: 5px;
    float:right;
}